<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>X-Bank Application</title>
</head>
<body>
<h1 style="text-align: center;">CreditCardApplication</h1>
<p style="text-align: center;"><a title="registration" href="registration">Apply for bank facilities</a></p>
<p style="text-align: center;"><a title="applicationStatus" href="#">Check application status</a></p>
<p style="text-align: center;"><a title="statement" href="#">Statement</a></p>
<p style="text-align: center;"><a title="purchase" href="#">Purchase</a></p>
<p style="text-align: center;"><a title="payment" href="#">Payment</a></p>
<p style="text-align: center;"><a title="verify" href="#">Verify request</a></p>
<p style="text-align: center;">&nbsp;</p>
</body>
</html>