<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>User Registration</title>

<script type="text/javascript">
  
  
  function register(){}

</script>
</head>
<body>

	<h1>User Registration</h1>
	<form action="#" th:action="@{/doRegister}" method="post"
		th:object="${registration}">
		<table>
			<tr>
				<td><label>Full name:</label></td>
				<td><input type="text" th:field="*{customer.name}" /><br /></td>
			<tr>
			<tr>
				<td><label>E-mail:</label></td>
				<td><input type="text" th:field="*{customer.emailId}" /><br /></td>
			<tr>
			<tr>
				<td><label>phoneNumber:</label></td>
				<td><input type="text" th:field="*{customer.phone}" /><br /></td>
			<tr>
			<tr>
				<td><label>address:</label></td>
				<td><input type="text" th:field="*{customer.address}" /><br /></td>
			<tr>
			<tr>
				<td><label>Facility type:</label></td>
				<td><select th:field="*{facilityTemplateId}">
						<option th:each="p : *{customer.facilities}" th:value="${p.facilityTemplateId}"
							th:text="${p.type}" />
				</select></td>
			<tr>
			<tr>
			<td>
			<input type="radio" th:field="*{allowCashLimit}" th:value="true" checked="true">
			<label >CashLimit allow</label>
			</td>
			<td>
			<input type="radio" th:field="*{allowCashLimit}" th:value="false" checked="false">
			<label >Not CashLimit allow</label>
			</td>
			</tr>
			<tr>
				<td><label>ProposedCreditLimit:</label></td>
				<td><input type="text" th:field="*{proposedLimit}" /><br /></td>
			<tr>
			
			<tr align="center">
				<td colspan="2">
					<button type="submit" onclick="register()">Register</button>
				</td>
			<tr>
		</table>

	</form>
</body>
</html>